---
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, getUniqueTagsWithCount } from "@/data/post";
import GoBack from "@/components/GoBack.astro";
import { getEntry } from 'astro:content';

const language = await getEntry('language', 'index');

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	description: "A list of all the topics I've written about in my posts",
	title: "All Tags",
};
---

<PageLayout meta={meta}>
	<GoBack  />
	<div style="padding:0 4%;">
	<h1 class="title my-4">{language.data.tags}</h1>
	<ul class="container" style="padding:3vh 1vw 0 1vw; margin:0 auto; max-width: 70%;">
		
		{
			allTags.map(([tag, val]) => (
				<li class="button">
					<a
						class=" inline-block"
						data-astro-prefetch
						href={`/tags/${tag}/`}
						title={`View posts with the tag: ${tag}`}
					>
						&#35;{tag}
					</a>
					<span class="inline-block">
						 ({val}) {val > 1 && ""}
					</span>
				</li>
			))
		}





	</ul>
</div>
</PageLayout>
