---
interface Props {
  url: string;
  title: string;
  controls?: boolean;
  mute?: boolean;
  loop?: boolean;
  start?: number;
  end?: number;
  useCustomPlayer?: boolean;
}

const { 
  url = '', 
  title = '', 
  controls = true, 
  mute = false, 
  loop = false, 
  start = typeof Astro.props.start === 'number' ? Astro.props.start : 0,
  end = 0,
  useCustomPlayer = true 
} = Astro.props;

function getYouTubeId(url: string) {
  if (!url) return null;
  const regex = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/;
  const match = url.match(regex);
  return match ? match[1] : null;
}

const videoId = getYouTubeId(url);
const playerVars: { [key: string]: number | string } = {
  autoplay: 1,
  controls: controls ? 1 : 0,
  mute: mute ? 1 : 0,
  loop: loop ? 1 : 0,
  start: start,
  end: end > 0 ? end : '',
  playlist: videoId ?? '',
};
---
{useCustomPlayer ? (
  <div class="custom-youtube-player" style="display:flex; justify-content:center;">
    <div id="youtube-player" style="width:100%; max-width:1600px; aspect-ratio:16/9;"></div>
    <div class="custom-controls">
      <div class="topblock"></div>
      
      <div class="center-controls">
        <button id="play-pause" class="play-pause-button">►</button>
        <h2 class="video-title title1">{title}</h2>
      </div>
      <div class="bottom-tray">
        <label for="progress">Progress
        <input type="range" id="progress" min="0" max="100" value="0" class="progress-bar">
        </label>

        <label for="volume">Volume
        <input type="range" id="volume" min="0" max="100" value="100" class="volume-slider"></label>

        <div><button id="mute" class="control-button">Mute</button></div>
      </div>
      <div class="botblock"></div>
    </div>
  </div>
) : (
  <iframe
    width="100%"
    height="500"
    src={`https://www.youtube.com/embed/${videoId}?autoplay=1&controls=${controls ? 1 : 0}&mute=${mute ? 1 : 0}&loop=${loop ? 1 : 0}&start=${start}&end=${end}`}
    title={title}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    style="min-height:70vh;"
  ></iframe>
)}
<style>

  .topblock{display:flex; width:100%; justify-content: center; position: absolute; top:0; height:60px; background:#000;}
  .botblock{display:flex; width:100%; justify-content: center; position: absolute; bottom:0; height:220px; background:#000; z-index: 0;}

@media (max-width: 48rem) {

.topblock{display:flex; width:100%; justify-content: center; position: absolute; top:0; height:0px; background:#000;}
.botblock{display:flex; width:100%; justify-content: center; position: absolute; bottom:0; height:50px; background:#000; z-index: 0;}
.youtube-player{margin-top:60px;}
.custom-youtube-player{margin-top:60px !important;}

}


  .custom-youtube-player {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    color:#fff;
  }
  #youtube-player {
    min-height: 70vh;
    aspect-ratio: auto;
  }
  .custom-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }
  .custom-controls:hover {
    opacity: 1;
  }
  .custom-controls.paused {
    opacity: 1;
    background-color: rgba(0, 0, 0, 1); 
  }
  .center-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .play-pause-button {
    font-size: 3rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  .video-title {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size:clamp(1.4rem,3.9vw,4rem);
  }
  .bottom-tray {
    display: flex;
    align-items: center;
    padding: 0 0 1vh 0;
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
    justify-content: center;
    gap:5vw;
    z-index: 11;
  }
  #mute{color:white; width:100%;}
  .bottom-tray label{display:flex; flex-direction: column; font-size: clamp(.8rem,.9vw,1rem); align-items: center;}
</style>

<script>
  declare namespace YT {
    interface Player {
      getPlayerState(): number;
      pauseVideo(): void;
      playVideo(): void;
    }
    enum PlayerState {
      PLAYING = 1,
      PAUSED = 2
    }
  }

  {/* function onPlayerStateChange(event: { data: number }) {
    const controls = document.querySelector('.custom-controls');
    if (event.data === YT.PlayerState.PAUSED) {
      controls?.classList.add('paused');

    } else {
      controls?.classList.remove('paused');
    }
  } */}


</script>
<script define:vars={{ videoId, playerVars, start, end, loop }}>
  // Load YouTube API
  const tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  const firstScriptTag = document.getElementsByTagName('script')[0];
  if (firstScriptTag.parentNode) {
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  }

  let player;

  window.onYouTubeIframeAPIReady = function() {
    player = new YT.Player('youtube-player', {
      height: '100%',
      width: '100%',
      videoId: videoId,
      playerVars: playerVars,
      events: {
        'onReady': onPlayerReady,
      }
    });
  }

  // function onPlayerStateChange(event) {
  //   if (event.data === YT.PlayerState.PLAYING) {
  //     const checkLoop = () => {
  //       const currentTime = player.getCurrentTime();
  //       if (currentTime >= end) {
  //         player.seekTo(start, true);
  //       } else {
  //         requestAnimationFrame(checkLoop);
  //       }
  //     };
  //     requestAnimationFrame(checkLoop);
  //   }
  // }

  let controlsTimeout;

  function showControls() {
    const controls = document.querySelector('.custom-controls');
    controls.style.opacity = '1';
    clearTimeout(controlsTimeout);
  }

  function hideControls() {
    const controls = document.querySelector('.custom-controls');
    controlsTimeout = setTimeout(() => {
      if (player && player.getPlayerState() == YT.PlayerState.PLAYING) {
        controls.style.opacity = '0';
      }
    }, 3000); // Hide after 3 seconds of inactivity
  }
  function onPlayerReady(event) {
    const playerArea = document.querySelector('.custom-youtube-player');
    playerArea.addEventListener('click', function() {
      if (player.getPlayerState() == YT.PlayerState.PLAYING) {
        player.pauseVideo();
      } else {
        player.playVideo();
      }
    });

    const muteButton = document.getElementById('mute');
    if (muteButton) {
      muteButton.textContent = player.isMuted() ? 'Unmute' : 'Mute';
    }
    const playPauseButton = document.getElementById('play-pause');
    const progressBar = document.getElementById('progress');

    function updatePlayPauseButton() {
      const playPauseButton = document.getElementById('play-pause');
      if (playPauseButton) {
        if (player.getPlayerState() == YT.PlayerState.PLAYING) {
          playPauseButton.textContent = '❚❚'; // Pause symbol
        } else {
          playPauseButton.textContent = '►'; // Play symbol
        }
      }
    }

    player.addEventListener('onStateChange', function(event) {
      updatePlayPauseButton();
    });

    if (playPauseButton) {
      playPauseButton.addEventListener('click', function() {
        if (player.getPlayerState() == YT.PlayerState.PLAYING) {
          player.pauseVideo();
        } else {
          player.playVideo();
        }
        updatePlayPauseButton();
      });
    }

    if (muteButton) {
      muteButton.addEventListener('click', function() {
        const currentTime = player.getCurrentTime();
        if (player.isMuted()) {
          player.unMute();
          muteButton.textContent = 'Mute';
        } else {
          player.mute();
          muteButton.textContent = 'Unmute';
        }
        player.seekTo(currentTime, true);
      });
    }

    if (progressBar) {
      player.addEventListener('onStateChange', function(event) {
        if (event.data == YT.PlayerState.PLAYING) {
          updateProgressBar();
        }
      });

      progressBar.addEventListener('input', function() {
        const time = player.getDuration() * (progressBar.value / 100);
        player.seekTo(time, true);
      });
    }

    const volumeSlider = document.getElementById('volume');
    if (volumeSlider) {
      volumeSlider.addEventListener('input', function() {
        player.setVolume(this.value);
      });
    }

    if (loop) {
      player.addEventListener('onStateChange', function(event) {
        if (event.data === YT.PlayerState.ENDED) {
          player.cueVideoById({
            videoId: videoId,
            startSeconds: start,
            endSeconds: end
          });
          player.playVideo();
        }
      });
    }

    const controls = document.querySelector('.custom-controls');
    controls.addEventListener('touchstart', showControls);
    controls.addEventListener('touchend', hideControls);
    player.addEventListener('onStateChange', function(event) {
      if (event.data === YT.PlayerState.PLAYING) {
        hideControls();
        checkAndLoop();
      } else if (event.data === YT.PlayerState.PAUSED || event.data === YT.PlayerState.ENDED) {
        showControls();
      }
    });
    
  }
  function updateProgressBar() {
    const progressBar = document.getElementById('progress');
    if (progressBar) {
      const interval = setInterval(function() {
        const progress = (player.getCurrentTime() / player.getDuration()) * 100;
        progressBar.value = progress;
        if (player.getPlayerState() !== YT.PlayerState.PLAYING) {
          clearInterval(interval);
        }
      }, 1000);
    }
  }
  function checkAndLoop() {
    const checkInterval = setInterval(() => {
      const currentTime = player.getCurrentTime();
      const videoStart = start || 0;
      if (end > 0) {
        // Custom loop behavior when end time is specified
        if (currentTime >= end || currentTime < videoStart) {
          player.seekTo(videoStart, true);
          player.playVideo();
        }
      } else {
        // Default loop behavior when no end time is specified
        if (currentTime >= player.getDuration()) {
          player.seekTo(videoStart, true);
          player.playVideo();
        }
      }
    }, 100);
  }
  </script>
