---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
    post: CollectionEntry<"post">;
    withDesc?: boolean;
};
import { getEntry } from 'astro:content';
const { post, withDesc = false } = Astro.props;
const defaultImageSrc = `${import.meta.env.BASE_URL}socialCard.webp`;
const defaultImageWidth = 800; 
const defaultImageHeight = 450; 

const siteSettings = await getEntry('siteSettings', 'main');
const { showTitles } = siteSettings.data;

---

<div class="post-card1">
    <a transition:animate="slide" href={`/posts/${post.slug}/`} class="pirate-link" rel="prefetch">
        {post.data.coverImage && typeof post.data.coverImage === "object" && post.data.coverImage.src ? (
            <Image
                src={post.data.coverImage.src}
                alt={post.data.coverImage.alt || "Cover image"}
                class="object-contain"
                loading="eager"
                fetchpriority="high"
                width={defaultImageWidth}
                height={defaultImageHeight}
            />
        ) : (
            <Image
                alt="Default Image Alt Text"
                class="object-contain"
                fetchpriority="high"
                loading="eager"
                src={defaultImageSrc}
                width={defaultImageWidth}
                height={defaultImageHeight}
            />
        )}
        
    {typeof showTitles !== 'undefined' && showTitles && (
        <div
            class="panel"
            style={{
                display: "flex",
                justifyContent: "space-between",
                rowGap: "0",
                columnGap: "0.4vw",
                textAlign: "center",
                flexDirection: "column",
                padding: "1vh 1vw",
                fontSize: "clamp(1rem, 1rem, 1rem)",
            }}
        >
            {showTitles && (
            <h2 class="title" style={{ color: "", fontSize: "" }}>
                {post.data.title}
            </h2>
            )}
            {withDesc && (
                <div class="line-clamp-1 block snippet" style={{ display: "none" }}>
                    {post.data.description}
                </div>
            )}
        </div>
        )}
    </a>
</div>
